.idea
.vscode
.sass-cache
*.sqlite3
*.py[co]
*.mo
*~
*.swp
dmoj/local_settings.py
resources/dark
resources/martor-description.css
resources/select2-dmoj.css
resources/style.css
resources/vars.scss
resources/*.map.css
sass_processed
jsi18n


bin
lib
node_modules
share

package-lock.json
theme

uwsgi.ini

<desired bridge log path>

/css

yarn.lock
