@import "vars";

.form-register{
    width: 350px;

    input{
        border: 1px solid $primary_color;
        background-color: $bg_box;
        color: white;
        height: 35px;
        border-radius: 15px;
    }
}